html, body {
  height: 100%;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #00458a;
}

h3 {
  color: #00458a;
  text-align: center;
  font-size: 34px;
  font-weight: normal;
}

body {
  font-family: 'Quicksand', sans-serif;
}

code {
  background: rgba(50, 187, 186,0.2);
}

.step-1 code {
  background: rgba(239, 245, 245, 0.2);;
}

section {
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 360px;
}

.intro {
  position: relative;
  background: #32BBBA url('images/snow-transparent.gif');
}

.intro .github-docs {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #000;
  font-weight: bold;
}

.logo {
  width: 528px;
  height: 120px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: -120px;
  bottom: 0;
}

.logo h1 {
  width: 528px;
  height: 120px;
  color: #fff;
  background: url(../img/logo-frost.png) no-repeat;
  text-indent: -9999px;
  margin: 0;
}

.logo p {
  text-align: center;
  color: #fff;
  font-size: 21px;
  margin: 0px;
  padding: 0px;
}

.logo a, .button {
  width: 96px;
  background: #00458a;
  padding: 20px;
  border-radius: 8px;
  display: block;
  text-decoration: none;
  color: #fff;
}

.buttons {
  overflow: hidden;
  margin-top: 40px;
  padding: 0 70px;
}

.started {
  float: left;
}

.logo .what-is {
  float: right;
  width: 110px;
}

.step-1 {
  min-height: 860px;
  background-color: #32BBBA;
}

.first {
  padding-top: 30px;
  box-sizing: border-box;
  width: 50%;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.highlighted-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.configs {
  margin-bottom: 30px;
}

.configs li p {
  padding-left: 30px;
}

#what-is {
  min-height: 500px;
}

.what-is-container {
  height: 340px;
}

.what-is-container h4 {
  text-align: center;
  margin-bottom: 60px;
}

.what-is-container .button {
  float: none;
  margin: 0 auto;
  width: 78px;
}

.problem {
  font-size: 20px;
}

.running-button {
  display: block;
  padding: 16px;
  width: 103px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 6px;
  font-weight: bold;
}

.running {
  background-color: #00458a;
  color: #fff;
  min-height: 880px;
}

.running h3 {
  color: #fff;
  font-weight: bold;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  max-width: 700px;
}

.running-container {
  max-width: 775px;
  height: 800px;
}

.examples {
  margin-top: 60px;
}

.examples p {
  text-align: center;
}

.example-list, .example-crawl {
  margin-bottom: 40px;
}

.running .desc {
  padding: 0 0 0 20px;
}

.running hr {
  border-color: #32BBBA;
}

.footer {
  background: #32BBBA;
  height: 70px;
  min-height: 70px;
}

.footer h3 {
  padding-top: 10px;
}
